html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.product-create__input {
  padding: 10px;
  font-size: 1.1rem;
  margin: 0px 10px;
}

.product-create {
  margin-bottom: 10px;
}

.product-create__description {
  padding: 10px;
  height: 100px;
  width: 70%;
  margin: 0px 10px;
}

.product-create__image {
  display: block;
  width: 100%;
  margin: 10px;
}
